.bottom {
	border-top: @borderSize solid;
	border-bottom: @borderSize solid;
		> .contact p h4 {
			text-align: center;
			display: flex;
			justify-content: center; /* align horizontal */
			align-items: center;
			}
	
	}
.foote {
	background-color: #000;
	color: #fff;
	
	}


.top-button {

	max-height: 80px;
	max-width: 80px;
	
	position: fixed;
    bottom: 0px;
    right: 0px; 
	}
