.bottom {
	border-top: @borderSize solid;
	border-bottom: @borderSize solid;
		> .contact p h4 {
			text-align: center;
			display: flex;
			justify-content: center; /* align horizontal */
			align-items: center;
			}
	
	}
.foote {
	margin-top: 2em;
	background-color: #000;
	color: #fff;
	
	}


.top-button {

	max-height: 80px;
	max-width: 80px;
	
	position: fixed;
    bottom: 0px;
    right: 0px; 
	}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    left: 10px;
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    left: 10px;
}