.content-box {
	margin-top: 2em;
		

	} 
.thumbnail {
	> img {
			width: 800;
			height: 600;
			}
	> p {
	
		}
		
		}
	
.btn-primary {
	border-color: #000;
	color: #000;
	background-color: #fff;
	}
	
.thmb {
		overflow: hidden;
			> img {
			
			max-width: 180px;
			max-height: 180px;
			float:left; 
			margin: 10px;
			}
	}
	
/*comments*/

.comments {
	margin-top: 2em;
	
	> .comment {
		border: 1px solid @thumbnail-border;
		border-radius: @thumbnail-border-radius;
		margin-bottom: 1em;
		padding-top: 1em;
		padding-bottom: 1em;
			> .author {
				font-weight: bold;
				color: @default-color-bright;
				}
			> .avatar {
				float: left;
				padding: 0.5em;
				
				}
			> .date {
				font-style: italic;
				color: @default-color-brighter;
				}
		}
	}
	
